version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    target-branch: "master"
    schedule:
      interval: "weekly"
      day: "sunday"
    labels:
      - "auto update"
      - "infrastructure"
      - "no RN"
    open-pull-requests-limit: 3
    commit-message:
      prefix: "chore"
      include: "scope"
