#
# Copyright 2021 ABSA Group Limited
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

name: JaCoCo report

on:
  pull_request:
    branches: [ master ]
    types: [ opened, edited, synchronize, reopened ]

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      scala_2_11: 2.11.12
      scala_2_12: 2.12.12
      spark_24: 2.4.7
      spark_32: 3.2.3
      spark_33: 3.2.1
      overall: 0.0
      changed: 80.0
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          persist-credentials: false

      - name: Setup Scala
        uses: olafurpg/setup-scala@32ffa16635ff8f19cc21ea253a987f0fdf29844c
        with:
          java-version: "adopt@1.8"

      - name: Build and run tests
        run: sbt jacoco

      - name: Add coverage to PR for scala 2.11 & spark 2.4
        id: jacoco1
        uses: madrapps/jacoco-report@50d3aff4548aa991e6753342d9ba291084e63848
        with:
          paths: ${{ github.workspace }}/spark-partition-sizing/target/spark2.4-jvm-2.11/jacoco/report/jacoco.xml
          token: ${{ secrets.GITHUB_TOKEN }}
          min-coverage-overall: $overall
          min-coverage-changed-files: $changed
          title: JaCoCo code coverage report - scala $scala_2_11 - spark $spark_24
          update-comment: true

      - name: Get the Coverage info
        run: |
          echo "Total coverage ${{ steps.jacoco1.outputs.coverage-overall }}"
          echo "Changed Files coverage ${{ steps.jacoco1.outputs.coverage-changed-files }}"

      - name: Fail PR if changed files coverage is less than $changed%
        if: ${{ steps.jacoco1.outputs.coverage-changed-files < 80.0 }}
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd
        with:
          script: |
            core.setFailed('Changed files coverage is less than $changed%!')

      - name: Add coverage to PR for scala 2.12 & spark 2.4
        id: jacoco2
        uses: madrapps/jacoco-report@50d3aff4548aa991e6753342d9ba291084e63848
        with:
          paths: ${{ github.workspace }}/spark-partition-sizing/target/spark2.4-jvm-2.12/jacoco/report/jacoco.xml
          token: ${{ secrets.GITHUB_TOKEN }}
          min-coverage-overall: $overall
          min-coverage-changed-files: $changed
          title: JaCoCo code coverage report - scala $scala_2_12 - spark $spark_24
          update-comment: true

      - name: Get the Coverage info
        run: |
          echo "Total coverage ${{ steps.jacoco2.outputs.coverage-overall }}"
          echo "Changed Files coverage ${{ steps.jacoco2.outputs.coverage-changed-files }}"

      - name: Fail PR if changed files coverage is less than $changed%
        if: ${{ steps.jacoco2.outputs.coverage-changed-files < 80.0 }}
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd
        with:
          script: |
            core.setFailed('Changed files coverage is less than $changed%!')

      - name: Add coverage to PR for scala 2.12 & spark 3.2
        id: jacoco3
        uses: madrapps/jacoco-report@50d3aff4548aa991e6753342d9ba291084e63848
        with:
          paths: ${{ github.workspace }}/spark-partition-sizing/target/spark3.2-jvm-2.12/jacoco/report/jacoco.xml
          token: ${{ secrets.GITHUB_TOKEN }}
          min-coverage-overall: $overall
          min-coverage-changed-files: $changed
          title: JaCoCo code coverage report - scala $scala_2_12 - spark $spark_32
          update-comment: true

      - name: Get the Coverage info
        run: |
          echo "Total coverage ${{ steps.jacoco3.outputs.coverage-overall }}"
          echo "Changed Files coverage ${{ steps.jacoco3.outputs.coverage-changed-files }}"

      - name: Fail PR if changed files coverage is less than $changed%
        if: ${{ steps.jacoco3.outputs.coverage-changed-files < 80.0 }}
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd
        with:
          script: |
            core.setFailed('Changed files coverage is less than $changed%!')

      - name: Add coverage to PR for scala 2.12 & spark 3.3
        id: jacoco4
        uses: madrapps/jacoco-report@50d3aff4548aa991e6753342d9ba291084e63848
        with:
          paths: ${{ github.workspace }}/spark-partition-sizing/target/spark3.3-jvm-2.12/jacoco/report/jacoco.xml
          token: ${{ secrets.GITHUB_TOKEN }}
          min-coverage-overall: $overall
          min-coverage-changed-files: $changed
          title: JaCoCo code coverage report - scala $scala_2_12 - spark $spark_33
          update-comment: true

      - name: Get the Coverage info
        run: |
          echo "Total coverage ${{ steps.jacoco4.outputs.coverage-overall }}"
          echo "Changed Files coverage ${{ steps.jacoco4.outputs.coverage-changed-files }}"

      - name: Fail PR if changed files coverage is less than $changed%
        if: ${{ steps.jacoco4.outputs.coverage-changed-files < 80.0 }}
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd
        with:
          script: |
            core.setFailed('Changed files coverage is less than $changed%!')
